# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

starstruck/.cproject
starstruck/.project
starstruck/.settings/org.eclipse.cdt.core.prefs
starstruck/common.mk
starstruck/firmware/*
starstruck/Makefile
starstruck/src/Makefile
